{:paths ["src"]
 :deps {millhouse.spools/kanban
        {:git/url "https://github.com/codethread/millhouse.spool.git"
         :git/sha "114ccb0f870c60eeebfaf60739aabd21f6413f7f"
         :deps/root "spools/kanban"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {codethread/devflow {:local/root ".."}}
         :main-opts ["-m" "ct.spools.devflow-kanban-adapter-test"]}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}}
         :main-opts ["-m" "clj-kondo.main"]}}}
