{:deps
 {io.millstrand/batteries
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "310368dff9174bd889ad21d4ed8196952684eaf9"
   :deps/root "spools/batteries"}
  millhouse.spools/workflow
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f487eb42ea9523e8bd405e64a7c319013217d988"
   :deps/root "spools/workflow"}
  millhouse.spools/kanban
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f487eb42ea9523e8bd405e64a7c319013217d988"
   :deps/root "spools/kanban"}
  millhouse.spools/identity
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f487eb42ea9523e8bd405e64a7c319013217d988"
   :deps/root "spools/identity"}
  ct.spools/harnesses
  {:git/url "https://github.com/codethread/harnesses.spool.git"
   :git/sha "9548390ce621461ba0a289859fe9b0af963f5805"
   :deps/root "."}
  codethread/config
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "252eeaee216a5e4d4e82c6b2948dd9eba1dafc9d"
   :deps/root "spools/config"}
  codethread/ralph
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "252eeaee216a5e4d4e82c6b2948dd9eba1dafc9d"
   :deps/root "spools/ralph"}
  codethread/devflow {:local/root ".."}
  codethread/devflow-kanban-adapter {:local/root "../kanban-adapter"}}}
