{:deps
 {millstrand.spools/batteries
  {:git/url "https://github.com/codethread/millstrand.git"
   :git/sha "71c0ed3d80fcad090b74a704a8eb165a3fad996e"
   :deps/root "spools/batteries"}
  millhouse.spools/workflow
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f487eb42ea9523e8bd405e64a7c319013217d988"
   :deps/root "spools/workflow"}
  millhouse.spools/kanban
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "f487eb42ea9523e8bd405e64a7c319013217d988"
   :deps/root "spools/kanban"}
  ct.spools/agent-cli
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "42b93f8bf030cb0797d684813c6604f1b7206f9e"
   :deps/root "agent-cli"}
  ct.spools/harness-core
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "42b93f8bf030cb0797d684813c6604f1b7206f9e"
   :deps/root "harness-core"}
  ct.spools/delegation
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "42b93f8bf030cb0797d684813c6604f1b7206f9e"
   :deps/root "delegation"}
  ct.spools/pi-harness
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "42b93f8bf030cb0797d684813c6604f1b7206f9e"
   :deps/root "pi-harness"}
  ct.spools/agent-run
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "42b93f8bf030cb0797d684813c6604f1b7206f9e"
   :deps/root "agent-run"}
  ct.spools/claude-harness
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "42b93f8bf030cb0797d684813c6604f1b7206f9e"
   :deps/root "claude-harness"}
  ct.spools/codex-harness
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "42b93f8bf030cb0797d684813c6604f1b7206f9e"
   :deps/root "codex-harness"}
  codethread/config
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "cdded90bba0009377c2d9e58021735d5baa5cf88"
   :deps/root "spools/config"}
  codethread/ralph
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "cdded90bba0009377c2d9e58021735d5baa5cf88"
   :deps/root "spools/ralph"}
  codethread/devflow {:local/root ".."}
  codethread/devflow-kanban-adapter {:local/root "../kanban-adapter"}}}
