{:spools {skein.spools/guild {:skein/source-root "spools/guild"}
          skein.spools/batteries {:skein/source-root "spools/batteries"}
          skein.spools/workflow {:skein/source-root "spools/workflow"}
          ;; dev world for this repo: devflow loads from the enclosing checkout
          codethread/devflow {:local/root ".."}
          codethread/kanban {:git/url "https://github.com/codethread/kanban.spool.git"
                             :git/sha "398a1610d094c85ad9c6691dafd213aaa35d73de"
                             :git/tag "v20"
                             :roots {codethread/kanban "."}}}}
