{:spools {skein.spools/guild {:skein/source-root "spools/guild"}
          skein.spools/workflow {:skein/source-root "spools/workflow"}
          ;; dev world for this repo: devflow loads from the enclosing checkout
          codethread/devflow {:local/root ".."}
          codethread/kanban {:git/url "https://github.com/codethread/kanban.spool.git"
                             :git/sha "46c4101befafeb2f5b3958a83c0677abc2608eda"
                             :git/tag "v9"
                             :roots {codethread/kanban "."}}}}
